body {
  background-color: rgb(250, 250, 250);
  overflow-y: scroll !important;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Topbar */
.top_bar {
  background-color: #572363 !important;
}

/* Color Icon Burger */
.icon_burger {
  color: #fff0fa !important;
}

/* Sidebar Header */
.sidebar_header {
  background-color: #572363;
  color: #fff0fa;
}
/* Sidebar Body */
.sidebar_body {
  background-color: rgb(250, 250, 250);
  color: #401a4a;
}
/* Sidebar Footer */
.sidebar_footer {
  background-color: #572363;
  color: #fff0fa;
}

/* Survey Button Box */
.survey_stack_box {
  margin: 10px;
}

/* Survey Button */
.survey_button {
  background-color: #993eb0 !important;
  color: #fff0fa !important;
  padding: 10px;
  border-radius: 10px !important;
}

/* Survey Title */
.survey_title {
  background-color: #0000 !important;
  color: #301438 !important;
  font-weight: bold;
  border-bottom-style: solid;
  border-width: 1px;
  border-radius: 0px !important;
  padding: 10px;
}

/* Survey Box */
.survey_box {
  border-style: none !important;
  border-width: 0px;
  border-radius: 10px;
  background-color: #e4b4f0;
  color: #301438;
}

/* Survey Box Text */
.survey_box_text {
  padding-bottom: 8px !important;
}

/* Survey Box Text Field */
.survey_box_text_field {
  border-style: none !important;
  border-radius: 10px;
}

/* Send Answer Button */
.survey_answer_button {
  background-color: #993eb0 !important;
  color: #fff0fa !important;
  padding: 10px;
  border-radius: 10px !important;
  height: 39px !important;
}
